
.form-control{
    size: 50%;
}

body{
    background-color: beige;
}

.Left-Menu{
    position: relative;
    
}

.Left-Menu .list-group a:hover{
    background-color: rgb(141, 163, 141);
}

.carousel-inner img {
    width: 100%;
    height: 70%;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    width: 10%;
    background-color: rgba(0, 0, 0, 0.212);
}

.card .card-imagen-top{
    widows: 320px;
    height: 250px;
}


.card-deck .card:hover{
    color:red; 
    font-size: large;
    font-weight: bold;
}

.Header-IMG img{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 200px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: aqua;
  }

#Precio_Final{
    color: red;
    font-size: large;
    font-weight: bold;

}

#Total_Carrito h3{
    font-weight: bold;
}

.registro{
    background-color: white;
}


#producto{
    display: block; 
    height: 70%;
    width: 70%;
  
    margin-left: 18%;
    margin-right: 30%;
    border: 5px solid rgb(0, 0, 0);
}

#contenido{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
}



.starrr {
    display: inline-block; 
}
.starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; 
}

#btnComentar{
    float: right;
}

#cbox{
    width: 100%;
}
.carousel-inner img{
    width: 100%;
    height: 450px;
}

